{%extends 'main/layout.html'%}
{%block content%}
	<h1>About GloBalog</h1>
	<p>GloBalog is essentially a blog post website, where you can share your ideas and views with the amazing GloBalog community.</p>
	<br>
	<h3>What all can you do at GloBalog?</h3>
	<ul>
	  <li>Post whatever you have on your mind</li>
	  <li>Explore diverse views and ideas of our community</li>
	  <li>Update your post to a better one whenever you want to</li>
	  <li>Explore individual members posts and amount of posts whenever you feel like it </li>
	  <li>Get to know more about our community using our sidebar</li>
	  <li>You can be at the Top! Track your rank using Top Users sidebar</li>
	  <li>Our achievements are transparent! We share our blog updates using Announcements sidebar</li>
	  <li>Not happy with your post? Its alright you can delete it anytime!</li>
	</ul>
{%endblock content%}
