{%extends 'main/layout.html'%}
{%block content%}
	{%for user in users%}
		<article class="media content-section">
			<img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + user[0].image_file) }}">
			  <div class="media-body">
			    <div class="article-metadata">
			      <h6><a class="mr-2" href="{{url_for('users.user_post',username=user[0].username)}}">{{ user[0].username }}</a></h6>
			    </div>
			   </div>
		</article>
	{%endfor%}
{%endblock content%}
