alembic==1.8.1
boto3==1.24.54
botocore==1.27.54
Flask==2.0.2
Flask_Assets==2.0
Flask_Bcrypt==1.0.1
Flask_Login==0.6.1
Flask_Mail==0.9.1
Flask_Migrate==3.1.0
Flask_S3==0.3.3
Flask_SQLAlchemy==2.5.1
Flask_WTF==1.0.1
itsdangerous==2.1.2
Pillow==9.2.0
SQLAlchemy==1.4.36
WTForms==3.0.1
