<h2 style="font-family:verdana;">Delete Account Confirmation!<h2> 
<p style="font-family:courier;">This email is sent to you to verify if you requested a deletion of your account.</p>
<p style="font-family:courier;">If yes, we are sorry to see you go! To delete your account, please click on the below link:</p>
<p style="font-family:courier;"><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>
<br>
<p style="font-family:courier;">If you did not make this request, please ignore this email and no change will be reflected in your account.</p><br>
<p style="font-family:courier;">*Note: Delete link expires in 30 minutes. Please access the link prior to the expiration time.</p>
<p>Cheers!</p>

