{%extends 'main/layout.html'%}
{%block content%}
	<div class="content-section"> <!--content section there in .css file-->
		<form method="POST" action=""> <!--goes to same route action=""-->
			 {{form.hidden_tag()}} <!--using form instance and using hiddentag method, used for security purposes, it adds csrf token or cross site request forgery token , used to protect sites along with the secret key we are gonna use-->
			 <fieldset class="form-group">
			 	<legend class="border-bottom mb-4">Reset Password</legend><!--margin bottom 4-->
			 	
			 	<div class='form-group'>
			 		{{form.email.label(class="form-control-label")}}
			 		{%if form.email.errors%}
				 		{{form.email(class="form-control form-control-lg is-invalid")}}
				 		{%for error in form.email.errors%}
				 			<span>{{error}}</span>
				 		{%endfor%}
				 	{%else%}
				 	{{form.email(class="form-control form-control-lg")}}
			 		{%endif%}			 
			 	</div>

			 
			 	
			 </fieldset>

			 <div class='form-group'>
			 		{{form.submit(class="btn btn-outline-success")}}
			 </div>


		
	</div>
{%endblock content%}

