{% extends "main/layout.html" %}

{% block content %}

<h1>Welcome To GloBalog!</h1>
<br>
<p>You have not confirmed your account yet. Please check your inbox (and your spam folder) - you should have received an email with a confirmation link.</p>
<br>
<p>Didn't get the email? <a href="{{ url_for('users.resend_confirmation') }}">Resend</a>.</p>

<div class="text-right">    	
	<button type="button" class="btn btn-danger m-1 " data-toggle="modal" data-target="#deleteModal">Delete Unconfirmed Account</button>
	<!--using button to enable modal, an alert message-->
	</div>

	<!--Modal/alert mesg asking for confirmation before deletion -->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="deleteModalLabel">Are you really sure you want to delete your account?</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
	        <form action="{{url_for('users. delete_unconfirmed_account',username=current_user.username)}}" method="POST">
	        	<input  class="btn btn-danger" type="submit" value="Yes">
	        </form>
	      </div>
	    </div>
	  </div>
	</div>   

{% endblock %}
